<form method="POST" action="/lists/<%= @list.id %>/edit">
<label>List Name:</label>
<input type="text" name="idea[name]" value="<%= @list.name%>">
<input type="hidden" name="_method" value="patch">
<input type="submit" value="Edit List]">
</form>