<h1>Your Idea Journal</h1>

<form method="post" action="/main">
<label>Idea Name:</label>
<input type="text" name="name"><br><br>
<label>Idea Content:</label>
<input type="text" name="content"><br><br>
<input type="hidden" name="user_id" value="<%= @current_user.id %>">
<input type="submit" value="Save Idea">
</form>

<% @current_user.ideas.each do |idea| %>

  Idea Name: <%= idea.name %>
  <br>
  Idea Content: <%= idea.content %>

  <a href="/ideas/<%=idea.id%>/edit">Edit Idea</a>
<% end %>

<form method="POST" action="/logout">
  <input type="submit" value="Log Out">
</form>