<% if flash.has?(:message) %>
<p class="warning"> <%= flash[:message] %> </p>
<% end %>

<h1>Sign Up for Idea Journal</h1>

<div class="form">
<form method="post" action="/signup">
<div class="form-group">
<label>Username:</label> <br>
<input type="text" name="username" required>
</div>
<div class="form-group">
<label>E-mail:</label> <br>
<input type="email" name="email" required>
</div>
<div class="form-group">
<label>Password:</label> <br>
<input type="password" name="password" required>
</div>
<input type="submit" value="Sign Up" class="btn btn-default">  
</form>
</div>

<br><br>
Already have an account? <a href="/">Log In Here</a>
