body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;

}


h1 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,h2, strong {
  color: #181419;
}

div.form {
  background: #eee;
  width: 50%;
  margin: 0 auto;
  border-radius: 25px;
  border: 2px solid #181419;
  padding: 20px;
}

p.warning {
  color:  #9E0B41;
  font-weight: bold;
}